.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.input {
    border: 1px solid blue;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}

.select {
    height: 25px;
    text-indent: 10px;
    padding: 10px 10px;
    margin-top: 15px;
}